   @media (max-width: 768px) {
    .bi-play-circle-fill {
      font-size: 30px !important; /* Decrease the icon size */
    }
  
    .rounded h6 {
      font-size: 14px !important; /* Decrease the heading text size */
    }
  
    .rounded p {
      font-size: 12px !important; /* Decrease the paragraph text size */
    }
  
    .text-quiz {
      font-size: 12px !important; /* Adjust the "Complete the Quiz" text size */
    }
  
    .btn-sm {
      font-size: 12px !important; /* Adjust button text size */
      padding: 4px 8px !important; /* Adjust button padding */
    }
  }
  